dataset
datasets/*
!datasets/mydataset.yml
env
__pycache__
yolo26n.pt
yolov8n.pt
*.avi
*.mp4

src/runs/*
!src/runs/output
!src/runs/output/train*
src/runs/output/train*/*
!src/runs/output/train*/weights
